<h1> profileeee</h1>

<%  if current_user.mediator == nil %>
  <%= link_to "quero ser mediador", new_mediator_path, class: "btn btn-primary" %>
<% end %>


<%= link_to "tenho um conflito", root_path, class: "btn btn-primary" %>

