<h1>Conflicts#new</h1>
<p>Find me in app/views/conflicts/new.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Qual seu conflito?</h2>
      <%= simple_form_for @conflict do |f| %>
        <%= f.input :name, label: 'Nome'%>

        <%= f.button :submit, "Enviar", class: 'btn btn-primary' %>
      <% end %>
      <br>
    </div>
  </div>
</div>
